/*Header*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffec;
  color: #250505;
  line-height: 1.4;
}

.page-pusher {
  height: 4rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: #2a0303
}

.member-box {
  border-radius: 5px;
  padding: 1rem;
  background-color: #eed6bc;
  margin: 1rem;
  max-width: 20rem;
}

header {
  display: flex;
  justify-content: space-between;
  width:  100%;
  height: 3.6rem;
  position: fixed;
  background-color: #ffb769;
  z-index: 1;
}


nav ul {
  justify-content: space-around;
  display: flex;
  margin-right: 1rem;
  list-style: none;
}

nav a {
  padding: 1.4rem;
  text-decoration: none;
}

.logo {
  display: flex;
}


/*Title*/

.title {
  display: flex;
  height: 30rem;
}

.splash-image {
  background-image: url("./Images/splash.jpg");
  background-size: cover;
  width:  100%;
  display:  flex;
  align-items: center;
}

.slogan {
  color: #662518;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: #faffdf;
  width: 100%;
  opacity: 0.85;
}

h2 {
  text-align: center;
  margin: 1rem;
}

/*Members*/

.members {
  display: flex;
  justify-content: space-around;
  background-color: #faffdf;
}

.member-box h3{
  max-width: 20rem;
}

/*stock photos*/
.stock-photos{
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.stock-photo{
  margin: 1rem;
}

.stock-photo img{
  width: 20rem;
  height: 30rem;
}

/*Footer*/

footer p{
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem
}

@media only screen and (min-width: 1049px) {
  
  .member-box img{
    width: 12rem;
    height: 10rem;
    justify-content: center;
  }
  
  .member-img {
    text-align: center;
  }
  
}
@media only screen and (max-width: 1048px) {
  
  .members {
    flex-wrap: wrap;
  }
  
  .member-box {
    margin-bottom: 2rem;
  }
  
  .member-box img{
    width: 100%;
  }
  
  
  .member-box h3{
    font-size: 1.5rem;
  }
  
}

@media only screen and (max-width: 640px) {
  .page-pusher {
    height: 8rem;
    width: 100%;
  }
  
  .member-box {
    border-radius: 5px;
    padding: 1rem;
    background-color: #eed6bc;
  }
  
  header {
    display: block;
    height: 8rem;
  }
  .logo img{  
    display: flex;
    height: 4rem;
  }
  .logo {
    margin: 0 auto;
    justify-content: center;
  }
  .nav {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 320px) {
  header {
    height: 12rem;
  }

  .page-pusher {
    height: 12rem;
    width: 100%;
  }
  
  nav ul {
    display: inline;
    margin-top: 1rem;
  }
  
  nav li {
    line-height: 1.5;
    margin: 0.25rem;
  }
  
}